{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ndoe": "current"
        }
      }
    ]    
  ],
  "plugins": [
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}